html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    background: transparent;
    font-size: 13px;
    display: block;
    font-family: arial, sans-serif;
}

@media screen and (max-width: 1024px) {
  html, body {
      font-size: 15px;
  }
}
@media screen and (max-width: 800px) {
  html, body {
      font-size: 16px;
  }
}

body{
	margin: 0;
}
.grid {
  min-height: 100%;
  max-width: 100%;
	display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
}
.header{
  grid-column: span 12;
	display:relative;
	padding-top: 18px;
	padding-left: 13px;
	padding-right: 35px;
	background-color: #FAFAFA;
	height: 70px;
	border-bottom: 0.5px solid #EBEBEB;
	display:flex;
	justify-content: space-between;
}
.search{
  align-items: center;
  display:flex;
}
.left{
  position:relative;
}
#g_logo{
  margin-right:18px;
  height: 44px;
  width: 73px;
}
.hidden {
  display: none;
}
h1{
  color: #5f6368;
  display: block;
  font-family: 'Google Sans',sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  padding: 7px 8px 8px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.s_results{
  grid-column: span 12;
  font-family: arial, sans-serif;
  margin: 15px 120px 51px;
  width:calc(100% - 240px);
  min-width:calc(100% - 240px);
}

.form {
  margin-bottom: 45px;
}
.form .field-block {
  border-bottom: 1px solid #eee;
  color: #222;
  width: 90%;
  min-width: 400px;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-right: 20px;
  position: relative;
}
.form .field-block input{
  width:90%;
  height: 22px;
  font-size: 15px;
}
.form h4 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1rem;
  font-weight: bold;
  font-family: arial,sans-serif;
  color: #222;
}
.form select {
  width: 280px;
}
.form input {
  width: 280px;
}
.form input[type="checkbox"]  {
  width: 15px;
}
.form input[type="radio"]  {
  width: 15px;
}
.form .form-buttons {
  display: block;
  font-family: arial,sans-serif;
  padding-top: 18px;
  text-align: left;
}
.form .form-buttons input[type="submit"] {
    background-color: #f2f2f2;
    color: #757575;
    font-weight: bold;
    height: 36px;
    width: 142px;
    border: 1px;
    border-radius: 2px;
    margin: 11px 4px;
    text-align: center;
}
.form .form-buttons input[type="submit"]:hover {
    border: 1px solid #c6c6c6;
}
.form .form-buttons input[type="submit"]:focus {
    border: 1px solid #4d90fe;
}

/* landing page */
center {
    padding-top: 89px;
}
#landingPage h1 {
    color: #5f6368;
    font-family:"Google Sans Display", Heebo, Arial, sans-serif;
    font-size:3em;
    letter-spacing:normal;
    line-height:46px;
    font-weight: 400;
    padding: 13px 8px 8px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
div.main {
    width:calc(100% - 25px);
    max-width:calc(100% - 25px);
    text-align: center;
    margin-top: 50px;
    padding-bottom: 10px;
}
div.main input {
    width: 503px;
    max-width: 90%;
    height: 34px;
    text-align: left;
    font-size: 1em;
    border: none;
    outline: none;
}
div.main div.sbox{
    margin-bottom: 10px;
    height: 38px;
    width: 528px;
    max-width: 95%;
    overflow: hidden;
    padding: 6px 9px 0px 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    align-self: center;
    display: inline-block;
}
div.main div.sbox:hover {
   box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
div.main input[type="submit"] {
    background-color: #f2f2f2;
    color: #757575;
    font-weight: bold;
    height: 36px;
    width: 142px;
    border: 1px;
    border-radius: 2px;
    margin: 11px 4px;
    text-align: center;
}
div.main input[type="submit"]:hover {
    border: 1px solid #c6c6c6;
}
div.main input[type="submit"]:focus {
    border: 1px solid #4d90fe;
}
.promo {
  padding-bottom:20px;
}
.promo a {
  padding-left:10px;
  padding-right:10px;
}
.featured-search{
  grid-column: span 6;
  font-family: arial, sans-serif;
  margin: 15px 15px 51px 15px;
  background: #ffffff;
}

@media screen and (max-width: 1024px) {
  div.main input {
    width: 403px;
    max-width: 90%;
  }
  div.main div.sbox{
    width: 428px;
    max-width: 95%;
  }
}
@media screen and (max-width: 800px) {
  #landingPage h1 {
      font-size:2em;
  }
  div.main input {
      width: 303px;
      max-width: 90%;
  }
  div.main div.sbox{
      width: 328px;
      max-width: 95%;
  }
}
/* end landing page */

/* chart section */
.chartGrid {
  column-gap: 2rem;
  width:calc(100% - 50px);
  max-width:calc(100% - 50px);
}
.chartSection {
  background-color: #fff;
  font-family: 'Roboto','Heebo',Arial,sans-serif;
  font-weight: 400;
  margin: 20px;
  max-width: 1152px;
  width:calc(100% - 40px);
  grid-column: span 6;
  position: relative;
}
.chartNav { display: flex; }
.chartNavCenter { flex: 1; text-align: center; }
.chartNavRight { margin-left: auto;}
/* end chart section */

.rankingChartWrapper {
  height: 500px;
  margin-top: 20px;
}

/* table */
.resultTableLeft {
  background-color: #fff;
  font-family: 'Roboto','Heebo',Arial,sans-serif;
  font-weight: 400;
  margin: 20px;
  padding-bottom: 50px;
  max-width: 1152px;
  width:calc(100% - 40px);
  max-width:calc(100% - 40px);
  grid-column: span 6;
  position: relative;
}

.resultTable {
  background-color: #fff;
  font-family: 'Roboto','Heebo',Arial,sans-serif;
  font-weight: 400;
  margin: 20px;
  padding-bottom: 50px;
  max-width: 1152px;
  width:calc(100% - 40px);
  grid-column: span 6;
  align-self: start;
  position: relative;
}
.resultTableFull {
  grid-column: span 12;
}
.resultTable-container {
    display: flex;
    align-items: center;
    color: rgba(0,0,0,0.87);
    height: 56px;
    line-height: 56px;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 18px;
    font-size: 1.2rem;
}
.resultTable-separator {
  border-bottom: 1px solid #e0e0e0;
}
.resultTable-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 15px;
  vertical-align: top;
  width: 100%;
}
.resultTable-item {
  height: 56px;
  position: relative;
  display: block;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}
.resultTable-item .label-line-number {
  width: 24px;
  background: #fff;
  border: 0px solid #666;
  text-align: center;
}
.resultTable-item .label-text {
    left: 53px;
    padding-right: 222px;
    position: absolute;
    top: 0;
    text-align: left;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.resultTable-item .label-text2 {
    left: 25px;
    line-height: 16px;
    position: absolute;
    top: 24px;
    text-align: left;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.resultTable-item .label-text3 {
    left: 25px;
    line-height: 16px;
    position: absolute;
    top: 24px;
    text-align: left;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.resultTable-item .label-value {
    color: #bdbdbd;
    font-size: 1.2rem;
    line-height: 16px;
    padding-right: 15px;
    position: absolute;
    right: 23px;
    text-align: right;
    top: 12px;
    width: 35%;
}
.resultTable-item .label-value2 {
    font-size: 1.2rem;
    line-height: 16px;
    padding-right: 15px;
    position: absolute;
    right: 23px;
    text-align: right;
    top: 24px;
    width: 75%;
}
.resultTable-item .label-value3 {
    font-size: 1.2rem;
    line-height: 16px;
    padding-right: 15px;
    position: absolute;
    right: 23px;
    text-align: right;
    top: 24px;
    width: 25%;
}

.search input[type="text"]{
  box-sizing:border-box;
  height:46px;
  width: 630px;
  font-family: sans-serif;
  font-size: 1.2em;
  padding: 0 60px 0 20px;
  border: 0.5px solid #d9d9d9;
  box-shadow: 0 4px 2px -2px #e6e6e6;
}
.search input[type="text"]:hover{
  box-shadow: 0px 2px 8px #dddddd;
  outline: none;
}
.loupe{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  position: absolute;
  top:10px;
  right:20px;
}
#all{
  color: #4285F4;
  font-weight: bold;
}

.g_apps img{
  margin-left: 18px;
}
h3{
  font-family: arial, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
}
h4{
  color: #5f6368;
  font-family: 'Google Sans',sans-serif;
  font-size: 1.15em;
  font-weight: 400;
}
input {
  font-size: 0.8em;
}
button {
  font-size: 0.8em;
}
button.active {
  background-color: #fff;
  border: 0px;
  font-weight: bold;
}
.chart {
  width: 12fr
}

@media screen and (max-width: 768px) {
  .search input[type="text"]{
    box-sizing:border-box;
    height:46px;
    width: 90%;
    font-family: sans-serif;
    padding: 0 60px 0 20px;
    border: 0.5px solid #d9d9d9;
    box-shadow: 0 4px 2px -2px #e6e6e6;
  }
}

@media screen and (max-width: 1024px) {
  .s_results{
    grid-column: span 12;
    font-family: arial, sans-serif;
    margin: 15px 10px 51px;
    width:calc(100% - 20px);
    min-width:calc(100% - 20px);
  }
  .chartSection {
    grid-column: span 12;
    margin: 0 10px;
    width:calc(92% - 20px);
    max-width:calc(92% - 20px);
  }
  .chartNav {
    display: block;
  }
  .chartNavRight {
    margin-top: 15px;
  }
  .resultTable {
    grid-column: span 12;
    align-self: start;
    margin: 0 10px;
    width:calc(92% - 20px);
    max-width:calc(92% - 20px);
  }
}
/* nav */
nav {
    grid-column: span 12;
  	display:relative;
  	padding-top: 18px;
  	padding-left: 13px;
  	padding-right: 35px;
  	background-color: #FAFAFA;
  	height: 70px;
  	border-bottom: 0.5px solid #EBEBEB;
  	display:flex;
  	justify-content: space-between;
}
nav.no-background {
  	background-color: #fff;
  	border-bottom: 0;
}
nav ul {
  width: 100%;
  float: right;
  list-style: none;
  margin: 0;
  padding-top: 1px;
  padding-bottom: 10px;
  top: 0;
  padding-inline-start: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li.logo {
  margin-top: 4px;
}
nav ul li.title-header {
  margin-top:7px;
}
nav ul li.search {
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 30px;
  text-decoration: none;
}
nav ul li a:hover {
}
nav ul li.logo a {
  display: block;
  padding: 0;
  line-height: 30px;
  text-decoration: none;
}
nav li a.signinbox {
    margin-top: 9px;
    margin-right: 20px;
    border: 1px solid #4285f4;
    background: #4285f4;
    color: white;
    border-radius: 3px;
}
nav li a:hover:not(.signinbox) {
    text-decoration: underline;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul {
  margin: 0;
  margin-top: 15px;
  padding:0;
}
nav ul li ul li {
  background-color: #f9f9f9;
  min-width: 190px;
  margin:0;
  padding: 0;
}
nav ul li ul li a {
  margin: 0;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
}
nav ul li ul li a:hover {
  background-color: #f1f1f1
}
.nav-dropdown {
  display: none;
}
.nav-dropdown-active {
  display: block;
  position: absolute;
  text-align: left;
  right: 0;
  margin-top: 42px;
  margin-right: 20px;
  background-color: #f9f9f9;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.home-mobile {
  border: 1px solid #4285f4;
  background: #f9f9f9;
  display: none;
}
.home-mobile a {
  color: black;
  text-decoration: none;
}
.home-mobile a:hover {
  text-decoration: underline;
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 70px;
  width: 70px;
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
 @media only screen and (max-width: 800px) {
   .g_apps {
     width:100%;
   }
   .logo {
     display: none;
   }
	 .nav-mobile {
		 display: block;
	}
	nav {
     height: 0;
		 width: 100%;
     margin: 0;
		 padding: 70px 0 15px;
	}
	nav ul.inactive {
     padding: 0;
		 display: none;
	}
	nav ul.active {
    padding-inline-start: 0;
    width: 100%;
		display: block;
	}
	 nav ul li {
		 width: 100%;
     margin:0;
		 float: none;
     z-index: 1;
	}
	 nav ul li a {
		 padding: 15px;
		 line-height: 20px;
	}
	 nav ul li a.signinbox {
     margin-top: 0;
     margin-right: 0;
	}
  nav ul li ul {
    width: 100%;
  }
	 nav ul li ul li a {
		 padding-left: 15px;
	}
	 .nav-dropdown {
		 position: static;
	}
  .nav-dropdown-active {
    margin-top: 52px;
    margin-right: 0px;
  }
  .home-mobile {
    display: block;
    z-index: 1;
  }
}
 @media screen and (min-width: 801px) {
	 .nav-list {
		 display: block !important;
	}
}
/* end nav */

/* nav search */
.searchForm input[type="text"]{
  box-sizing:border-box;
  height:46px;
  width: 630px;
  font-family: sans-serif;
  font-size: 1.2em;
  padding: 0 60px 0 20px;
  border: 0.5px solid #d9d9d9;
  box-shadow: 0 4px 2px -2px #e6e6e6;
}
.searchForm input[type="text"]:hover{
  box-shadow: 0px 2px 8px #dddddd;
  outline: none;
}
.loupe{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  position: absolute;
  top:10px;
  right:20px;
}
@media screen and (max-width: 1024px) {
  .searchForm input[type="text"]{
    box-sizing:border-box;
    height:46px;
    width: 460px;
    font-family: sans-serif;
    padding: 0 20px;
    border: 0.5px solid #d9d9d9;
    box-shadow: 0 4px 2px -2px #e6e6e6;
  }
}
@media screen and (max-width: 800px) {
  .searchForm input[type="text"]{
    box-sizing:border-box;
    height:46px;
    width: 90%;
    font-family: sans-serif;
    padding: 0 20px;
    border: 0.5px solid #d9d9d9;
    box-shadow: 0 4px 2px -2px #e6e6e6;
  }
}
/* end nav search */

/* footer */
footer {
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 70px;
    margin: 0;
}
footer p {
    border-top: 1px solid #e4e4e4;
    font-size: 1.15em;
    margin-bottom: 0;
    line-height: 35px;
    margin-top: 0;
    padding-left: 27px;
    text-align: left;
}
footer ul {
    border-top: 1px solid #e4e4e4;
    padding-left: 0px;
    list-style-type:none;
    margin:0;
    margin-right: 10px;
    margin-inline-end:10px;
    padding-top:10px;
    padding-bottom:10px;
    overflow:hidden;
    top:0;
}
footer li {
    display: inline-block;
    float: left;
    padding-left: 27px;
}
footer a {
    text-decoration: none;
    color: #666;
}
footer li.right{
    float: right;
}
@media screen and (max-width: 800px) {
  footer p {
      padding-left: 21px;
  }
  footer li {
      padding-left: 21px;
  }
}
/* end footer */

/* start page */

.page {
  padding-bottom: 30px;
}
.page p {
  letter-spacing: .2px;
  line-height: 20px;
  margin: 4px 0 12px;
  color: rgba(0,0,0,0.87);
  font-family: Roboto,arial,sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}
.page h2 {
  color: #3c4043;
  font-family: 'Google Sans',sans-serif;
  font-weight: 500;
  font-size: 1.85em;
  line-height: 32px;
  margin: 0;
  padding: 32px 0 8px 0;
}
.page h3 {
  color: #3c4043;
  font-family: 'Google Sans',sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 28px;
  margin: 24px 0 8px;
}
.page code {
  color: #060;
  font-family: monospace;
}
.page strong {
  font-weight: 500;
}
/* end page */

/* start home grid */
.gridHome{
  max-width: 980px;
  min-height: 20%;
}
.gridHome a {
  color:black;
  text-decoration:none;
}
.gridColumnSpanTwelve {
  width:100%;
  grid-column: span 12;
  position: relative;
}

.gridColumnSpanSix {
  margin: 20px 30px;
  margin-bottom: 60px;
  width:calc(100% - 60px);
  grid-column: span 6;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .gridColumnSpanSix {
    grid-column: span 12;
    align-self: start;
    margin: 0 auto;
    margin-bottom: 60px;
    width:calc(100% - 60px);
  }
}
/* end home grid */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container {
  padding: 10px 16px;
}

.amount {
  color: white;
  background: #fb3;
}
.app {
color: white;
background: #bbb;
}
.pill {
  font-size: 10px;
  line-height: 16px;
  border-radius: 4px;
  padding: 2px 6px;
  font-family: verdana,arial,helvetica,sans-serif;
  margin: 0px 2px;
  padding-bottom: 4px;
}
.pill a {
  color: white;
  text-decoration: none;
}
.label-text {
  font-size: 15px;
  color: green;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
}
.label-text a {
  color: green;
  text-decoration: none;
}
